/* VARIABLES IMPORT */
@import "./variables.css";
@import "./fonts.css";

/* TEMPORARY STYLING (FOR CSS TESTS) */
.red-border-3px {
  border: 3px solid red;
}

.green-border-2px {
  border: 2px solid green;
}

.blue-border-1px {
  border: 1px solid blue;
}

/* ANIMATIONS */
@keyframes loading-dom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CSS INITIAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* INITIAL STYLING */
html {
  width: 100vw;
  min-height: 100dvh;
}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

html,
body {
  width: 100%;
  font-size: 20px;
  line-height: 1.15;
  background-color: var(--main-color-light);
  color: white;
  animation: loading-dom 1s ease-in;
}

header {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--average-unit);
  font-size: 2rem;
  text-align: center;
}

footer {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAIN DIV */
#main-div {
  width: 100%;
  min-height: 99dvh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

#main-div > * {
  width: 100%;
  flex: 1 1 100%;
}

#main-div > header,
footer {
  background: linear-gradient(
    200deg,
    var(--main-color-dark),
    var(--main-color-medium)
  );
}

main {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER TAG */
#my-logo {
  width: 120px;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  filter: grayscale(100%);
  transition: transform 0.2s ease;
}

#my-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: grayscale(0%);
}

#main-title {
  transition: transform 0.2s ease;
}

#main-title:hover {
  text-decoration: underline;
  text-shadow: var(--average-unit) var(--average-unit) var(--average-unit) var(--main-color-light);
}

/* FOOTER TAG */
#credits-div,
#themes-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
}

#credits-div a {
  text-decoration: underline;
}

#themes-div select {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: var(--main-color-medium);
  border: none;
  color: inherit;
  cursor: pointer;
  padding: var(--average-unit);
  transition: background-color 0.2s, color 0.2s;
}

#themes-div select:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#themes-div select option {
  color: black;
}

/* MAIN TAG */
#app-div {
  color: black;
  width: 50%;
  min-height: 50dvh;
  background: rgba(255, 255, 255, 0.8);
  border: 2.5px dashed var(--main-color-dark);
  border-radius: var(--average-unit);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: calc(var(--average-unit) * 5);
}

.app-buttons-div {
  width: 60%;
  padding: calc(var(--average-unit) * 1.5);
  color: black;
  display: flex;
  flex-flow: column wrap;
  margin: auto auto;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  gap: var(--average-unit);
}

.app-buttons {
  width: 100%;
  padding: var(--average-unit) calc(var(--average-unit) * 2);
  font-family: "Nunito";
  font-size: 1rem;
  color: black;
  font-weight: bold;
  background-color: var(--main-color-light);
  border: none;
  border-radius: var(--average-unit);
  cursor: pointer;
  box-shadow: 0 5px 10px var(--main-color-medium);
}

.app-buttons:hover {
  background-color: var(--main-color-medium);
  color: white;
  box-shadow: 0 10px 15px var(--main-color-dark);
}

.app-buttons:active {
  box-shadow: 0 10px 15px var(--main-color-dark);
}

/* SCREEN VARIATION - MEDIUM SCREENS */
@media all and (min-width: 700px) and (max-width: 1000px) {
  html,
  body {
    font-size: 18px;
  }

  .app-buttons-div {
    width: 70%;
  }
}

/* SCREEN VARIATION -  SMALL SCREENS*/
@media all and (max-width: 699px) {
  html,
  body {
    font-size: 16px;
  }

  header {
    order: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.5rem;
    text-align: center;
  }

  #my-logo {
    width: 100px;
  }

  #app-div {
    width: 80%;
    margin: calc(var(--average-unit) * 2.5);
  }

  .app-buttons-div {
    width: 80%;
    padding: var(--average-unit);
  }

  .app-buttons {
    padding: calc(var(--average-unit) * 2) calc(var(--average-unit) * 4);
  }
}
