/* VARIABLES IMPORT */
@import "../variables.css";
@import "../fonts.css";

/* ANIMATIONS */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-result {
  animation: fade 1s ease-in-out;
}

#app-div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#app-div > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: var(--average-unit);
  border: 1px solid var(--main-color-light);
  margin: var(--average-unit);
}

#app-div > div > div > * {
  margin: var(--average-unit);
}

#app-div > div > div:nth-child(3) img {
  width: 100px;
  height: auto;
  display: none;
}

#app-div input {
  height: 50px;
  width: 30%;
  font-family: "Nunito";
  font-size: 1rem;
}

#app-div button {
  width: 30%;
  background-color: var(--main-color-dark);
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: var(--average-unit) calc(var(--average-unit) * 2);
  border: none;
  border-radius: var(--average-unit);
  cursor: pointer;
}

/* SCREEN VARIATION -  SMALL SCREENS*/
@media all and (max-width: 699px) {
  #app-div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #app-div > div > div:nth-child(3) img {
    width: 80px;
    height: auto;
  }

  #app-div input {
    height: 30px;
    width: 60%;
  }

  #app-div button {
    width: 100%;
    padding: calc(var(--average-unit) * 2) calc(var(--average-unit) * 4);
  }
}
