/* VARIABLES IMPORT */
@import "../variables.css";
@import "../fonts.css";

#app-div {
  width: 80%;
  min-height: 80dvh;
  background-image: url("../../imgs/apps-imgs/app-page-10-img-001.jpg");
  background-size: cover;
  margin: var(--average-unit);
  gap: var(--average-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#game-status-div,
#game-main-div {
  width: 100%;
}

#game-status-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: var(--average-unit);
  background-color: var(--main-color-dark);
  color: white;
}

#game-main-div {
  width: 100%;
  margin-top: calc(var(--average-unit) * 4);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.square-row {
  display: flex;
}

.square {
  width: 200px;
  height: 200px;
  border: 2px solid var(--main-color-dark);
  background-color: var(--main-color-light);
}

.the-ralph {
  background-image: url("../../imgs/apps-imgs/app-page-10-img-002.jpg");
  background-size: cover;
}

/* SCREEN VARIATION - MEDIUM SCREENS */
@media all and (min-width: 700px) and (max-width: 1000px) {
  .square {
    width: 150px;
    height: 150px;
  }
}

/* SCREEN VARIATION -  SMALL SCREENS*/
@media all and (max-width: 699px) {
  .square {
    width: 100px;
    height: 100px;
  }
}
