/* VARIABLES IMPORT */
@import "../variables.css";
@import "../fonts.css";

#app-div > div:nth-of-type(1) {
  width: 100%;
  padding: var(--average-unit);
  border: 1px solid var(--main-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#app-div > div:nth-of-type(1) > p:nth-of-type(3) {
  color: red;
}

#app-div > div:nth-of-type(2) {
  width: 100%;
  border: 1px solid var(--main-color-light);
  padding: var(--average-unit);
  display: flex;
  justify-content: center;
}

#app-div > div:nth-of-type(3) {
  width: 100%;
  border: 1px solid var(--main-color-light);
  padding: var(--average-unit);
  display: flex;
  flex-flow: column wrap;
}

#app-div > div:nth-of-type(3) a:hover {
  text-decoration: underline;
}

#app-div fieldset {
  width: 100%;
  display: flex;
  padding: var(--average-unit);
  flex-direction: column;
  justify-content: space-around;
  gap: var(--average-unit);
}

.filter-section button {
  margin: 0 auto;
  background-color: var(--main-color-dark);
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: bold;
  width: 30%;
  color: white;
  padding: var(--average-unit) calc(var(--average-unit) * 2);
  border: none;
  border-radius: var(--average-unit);
  cursor: pointer;
}

/* SCREEN VARIATION -  SMALL SCREENS*/
@media all and (max-width: 699px) {
  .filter-section button {
    width: 100%;
    padding: calc(var(--average-unit) * 2) calc(var(--average-unit) * 4);
  }
}
